asgiref==3.5.0
click==8.0.4
colorama==0.4.4
distlib==0.3.4
Django==4.0.3
django-filter==21.1
djangorestframework==3.13.1
filelock==3.6.0
Flask==2.0.3
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.1
pbr==5.8.1
platformdirs==2.5.1
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
stevedore==3.5.0
tzdata==2022.1
virtualenv==20.14.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
Werkzeug==2.0.3


